/* Styles for clock hands */
.hand {
  position: absolute;
  background: #6c6363;
  transform-origin: 50% 100%; /* Set the rotation point to the bottom center */
  left: 50%;
  bottom: 50%;
}

.hour-hand {
  width: 4.5px;
  height: 50px;
  z-index: 1;
}

.min-hand {
  width: 3.5px;
  height: 70px;
  z-index: 2;
}

.second-hand {
  width: 2px;
  height: 80px;
  z-index: 3;
  background-color: #000000;
}

/* Center the clock */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #380c8a, rgb(192, 155, 219)) no-repeat fixed; /* Makes a gradient for the background */
}

.clock {
  /* Additional styling for the clock container */
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  border: 2px solid #000;
  border-radius: 750%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

/* Adjusted positioning for markings */
.marking {
  width: 2px;
  height: 10px;
  top: 5%;
  left: 50%;
  transform-origin: 50% 100%;
}

.marking:nth-child(12):after {
  content: 'XII';
  position: absolute;
  top: 100%;
  left: 6500%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(1):after {
  content: 'I';
  position: absolute;
  top: 15%;
  left: 73%;
  transform: translate(-50%, -50%) rotate(22.5deg);
  color: #ffffff;
}

.marking:nth-child(2):after {
  content: 'II';
  position: absolute;
  top: 28%;
  left: 84%;
  transform: translate(-50%, -50%) rotate(45deg);
  color: #ffffff;
}

.marking:nth-child(3):after {
  content: 'III';
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(4):after {
  content: 'IV';
  position: absolute;
  top: 350%;
  left: 5000%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
  
}

.marking:nth-child(5):after {
  content: 'V';
  position: absolute;
  top: 200%;
  left: 5000%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(6):after {
  content: 'VI';
  position: absolute;
  top: 110%;
  left: 4500%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(7):after {
  content: 'VII';
  position: absolute;
  top: 82%;
  left: 4000%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(8):after {
  content: 'VIII';
  position: absolute;
  top: 200%;
  left: 3700%;
  transform: translate(-50%, -50%) rotate(92.5deg);
  color: #ffffff;
}

.marking:nth-child(9):after {
  content: 'IX';
  position: absolute;
  top: 300%;
  left: 4000%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(10):after {
  content: 'X';
  position: absolute;
  top: 300%;
  left: 4700%;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #ffffff;
}

.marking:nth-child(11):after {
  content: 'XI';
  position: absolute;
  top: 190%;
  left: 5700%;
  transform: translate(-50%, -50%) rotate(88deg);
  color: #ffffff;
}

.center-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000000; /* Color of the point */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4; /* Above the pointers to make sure they don't obscure the point*/
}

/* Image styles */
img {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: margin 0.5s ease, transform 0.5s ease;

  /* Adds a frame */
  border: 2px solid #000000;

  /* Adds a hover effect */
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 0 8px 16px rgba(74, 73, 73, 0.2);
}

/* Media queries */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .clock {
  }
}

@media screen and (min-width: 1025px) {
  .clock {
  }
}